Testing
Makefile
install_manifest.txt
compile_commands.json
/build/
Battleships
Battleships.cbp

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
cmake_install.cmake

# clion
.settings
.idea

# eclipse
.cproject
.project

# ninja
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# conan
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
